@page
@model BSUIR.Web.Areas.Identity.Pages.Account.Manage.AddressesModel
@{
}
<partial name="_StatusMessage" model="Model.StatusMessage" />
<div class="page-content page-cabinet-personal">
    <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">

                <div class="white-popup " id="popup" style="max-width: 590px">
                    <div class="content">
                        <div class="cabinet-popup cabinet-popup-delivery">
                            <div class="row clearfix">
                                <div class="small-12 columns">
                                    <h2>Введите адрес</h2>
                                    <div class="cabinet-popup-address">
                                        <div class="row clearfix">
                                            <div class="form-row">
                                                <label class="form-label">Страна <sup>*</sup></label>
                                                <input name="select-country" data-placeholder="Страна" class="form-input" type="text">
                                            </div>
                                        </div>
                                        <div class="row clearfix">
                                            <div class="form-row">
                                                <label class="form-label" for="select-area">Область <sup>*</sup></label>
                                                <input class="form-input" type="text" name="select-area" data-placeholder="Область">
                                            </div>

                                        </div>
                                        <div class="row clearfix">
                                            <div class="form-row">
                                                <label class="form-label" for="select-city">Населённый пункт <sup>*</sup></label>
                                                <input class="form-input" type="text" name="select-city" data-placeholder="Населенный пункт">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="cabinet-popup-address">
                                        <div class="form-row">
                                            <label class="form-label" for="street">Улица <sup>*</sup></label>
                                            <input id="street" class="form-input cabinet-street-autocomplete js-auto-street" type="text" name="street" maxlength="200" value="" autocomplete="off">
                                        </div>
                                        <div class="row clearfix">
                                            <div class="small-12 medium-5 columns f-small">
                                                <div class="form-row">
                                                    <label class="form-label" for="building">Дом <sup>*</sup></label>
                                                    <input id="building" class="form-input" type="text" name="building" value="">
                                                </div>
                                            </div>
                                            <div class="small-12 medium-5 columns f-small">
                                                <div class="form-row">
                                                    <label class="form-label" for="corp">Индекс</label>
                                                    <input id="corp" class="form-input" type="text" name="corp" value="">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row clearfix">
                                            <div class="small-12 medium-5 columns f-small">
                                                <div class="form-row">
                                                    <label class="form-label" for="apartment">Квартира</label>
                                                    <input id="apartment" class="form-input" type="text" name="apartment" value="">
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="text-center offset-bottom-30">
                    <button class="btn-danger btn" data-dismiss="modal">Добавить</button>
                </div>
            </div>
        </div>
        <button type="button" class="mfp-close"></button>
    </div>
    <div class="container clearfix">
        <div class="page-title">
            <h1 class="h1">Адреса доставки</h1>
        </div>
        <div class="content-row">
            <div class="sidebar">

                <ul class="cabinet-nav">
                    <li data-code="personal" class=""><a href="/Identity/Account/Manage/Index">Личные данные</a></li>
                    <li data-code="orders" class=""><a href="/Identity/Account/Manage/Orders">Мои заказы</a></li>
                    <li data-code="delivery" class="active"><a href="/Identity/Account/Manage/Addresses">Адрес доставки</a></li>
                    <li data-code="logout" class=""><a href="/Identity/Account/Logout">Выход</a></li>


                </ul>
            </div>
            <div style="margin-left: 300px">


                <div class="row offset-bottom-20">
                    <div class="small-12 columns">
                        <div class="panel-simple offset-bottom-20">
                            <div class="panel-mini-title">
                                Мои адреса
                            </div>

                            <div class="scroll-area">
                                <table class="cabinet-delivery-list">
                                </table>
                            </div>

                            <div class="panel-simple-bottom">
                                <button class="btn-danger btn" data-toggle="modal" data-target="#exampleModalLong">Добавить</button>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}